<ion-header>
	<ion-navbar hideBackButton>
		<ion-title float-left  style="margin-top: 10px;">Accueil</ion-title>
		<button ion-button color="danger" (click)="onDisconnect()" float-right>Déconnexion</button>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button outline block (click)="onRefresh()" float-right>Rafraîchir la page</button>
	Connecté en tant que : {{ username }}
	<ion-list>
		<ion-item>
			<ion-textarea [(ngModel)]="newPostContent" placeholder="Nouvelle publication"></ion-textarea>
		</ion-item>
	</ion-list>
	<button ion-button block (click)="onNewPost()">Poster</button>
	<ion-card padding *ngFor="let post of posts">
		<ion-grid>
			<ion-row>
				<ion-col>
					<h2 float-left>{{ post.postedBy }} :</h2>
				</ion-col>
				<ion-col>
					<ion-icon float-right name="trash" color="danger" (click)="onDelete(post.postRef)" *ngIf="this.username == post.postedBy || this.username == 'admin'"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>
			<hr>
		<h2 [innerHTML]="post.content"></h2>
		<p>{{ post.date }}</p>
	</ion-card>
</ion-content>