<ion-header>
	<ion-navbar hideBackButton>
		<ion-icon float-left name="menu" (click)="onToggleMenu()" style="font-size: 43px; margin: 0; margin-left: 5px; margin-right: 10px;"></ion-icon>
		<ion-title float-left style="margin-top: 10px;">Accueil</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button outline block (click)="onRefresh()" float-right>Rafraîchir la page</button>
	<ion-list>
		<ion-item>
			<ion-textarea [(ngModel)]="newPostContent" placeholder="Nouvelle publication"></ion-textarea>
		</ion-item>
	</ion-list>
	<button ion-button block (click)="onNewPost()">Poster</button>
	<ion-card padding *ngFor="let post of posts">
		<ion-grid no-padding>
			<ion-row>
				<ion-col>
					<h2 float-left style="margin-top: 0">{{ post.postedBy }} :</h2>
				</ion-col>
				<ion-col>
					<ion-icon float-right name="trash" color="danger" (click)="onDelete(post.postRef)" *ngIf="this.username == post.postedBy || this.username == 'admin'" style="font-size: 25px"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>
			<hr>
		<h2 [innerHTML]="post.content"></h2>
			<hr>
		<p>{{ post.date }}</p>
	</ion-card>
	<button ion-button block (click)="onShowUsers()" *ngIf="username == 'admin'">Afficher les utilisateurs</button>
	<p style="text-align: center; font-style: italic; color: gray">Version : {{ version }}</p>
</ion-content>