<ion-header>
	<ion-navbar>
		<ion-icon float-left name="menu" (click)="onToggleMenu()" style="font-size: 43px; margin: 0; margin-left: 5px; margin-right: 10px;"></ion-icon>
		<ion-title float-left style="margin-top: 10px;">Profil</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h1 style="text-align: center">{{ username }}</h1>
		<hr>
	<h3>Description :</h3>
	<ion-list>
		<ion-item>
			<ion-textarea rows="15" [(ngModel)]="description" placeholder="Votre description..."></ion-textarea>
		</ion-item>
	</ion-list>
	<button ion-button (click)="onUpdateDesc()" float-right>Modifier</button>
		<br>
	<h4 style="display: inline; margin-top: 0px" float-left>Guide de rédaction</h4>

	<ion-icon style="font-size: 25px; margin-left: 10px; display: inline;"
			  name="arrow-dropright-circle"
			  *ngIf="tagsListDisplay == false"
			  (click)="onToggleTagsList()"></ion-icon>

	<ion-icon style="font-size: 25px; margin-left: 10px; display: inline;"
			  name="arrow-dropdown-circle"
			  *ngIf="tagsListDisplay == true"
			  (click)="onToggleTagsList()"></ion-icon>

	<ion-list *ngIf="tagsListDisplay == true">
		<p ion-item>La rédaction de la description se fait 
						<br>
					en encodage HTML. Il faut donc utiliser
						<br>
					les balises suivantes :</p>
		<p ion-item>- Texte en italique :
				<br>
			<b>&lt;i&gt;</b><i>Votre texte en italique</i><b>&lt;i&gt;</b></p>
		<p ion-item>- Texte souligné :
				<br>
			<b>&lt;u&gt;</b><i>Votre texte souligné</i><b>&lt;u&gt;</b></p>
		<p ion-item>- Saut à la ligne :
				<br>
			<b>&lt;br&gt;</b></p>
		<p ion-item>- Lien :
				<br>
			<b>&lt;a href="</b><i>Votre lien</i><b>"&gt;</b><i>Titre du lien</i><b>&lt;a&gt;</b></p>
	</ion-list>
	<button no-margin ion-button full color="danger" (click)="onDeleteAccount(userId)" style="margin-top: 100px">Supprimer le compte</button>
</ion-content>