<ion-header>
  <ion-navbar>
    <ion-title>Profil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h1 style="text-align: center">{{ profileUsername }}</h1>
	<button ion-button outline full
			*ngIf="isFollowing == false && profileUsername != username && profileUsername != 'admin'"
			style="text-align: center;"
			(click)="onFollow()">Suivre</button>
	<button ion-button outline full
			*ngIf="isFollowing == true && profileUsername != username && profileUsername != 'admin'"
			style="text-align: center;"
			color="danger"
			(click)="onUnfollow()">Ne plus suivre</button>
		<hr>
	<h3>Description :</h3>
	<p [ngClass]="{'italic': (description == 'Aucune description.')}" [innerHTML]="description"></p>
		<br>
	<h4 style="display: inline; margin-top: 0px" float-left>Abonnés : {{ subsNbr }}</h4>

	<ion-icon style="font-size: 25px; margin-left: 10px; display: inline;"
			  name="arrow-dropright-circle"
			  *ngIf="followerListDisplay == false"
			  (click)="onToggleFollowersList()"></ion-icon>

	<ion-icon style="font-size: 25px; margin-left: 10px; display: inline;"
			  name="arrow-dropdown-circle"
			  *ngIf="followerListDisplay == true"
			  (click)="onToggleFollowersList()"></ion-icon>

	<ion-list *ngIf="followerListDisplay == true">
		<p ion-item *ngFor="let follower of followers" (click)="onVisitProfile(follower)">
			<a href="#">{{ follower }}</a>
		</p>
	</ion-list>
		<br>
		<br>
	<h4 float-left>Publications :</h4>
	<ion-card padding *ngFor="let post of userPosts">
		<ion-grid no-padding>
			<ion-row>
				<ion-col>
					<h2 float-left style="margin-top: 0">
						{{ post.postedBy }} :
					</h2>
				</ion-col>
				<ion-col>
					<ion-icon float-right name="trash" color="danger" (click)="onDelete(post.postRef)" *ngIf="this.username == post.postedBy || this.username == 'admin'" style="font-size: 25px"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>
			<hr>
		<h2 [innerHTML]="post.content" (click)="onViewPost(post.postRef);"></h2>
			<hr>
		<p>{{ post.date }}</p>
	</ion-card>
	<p *ngIf="userPosts.length == 0" style="color: gray; font-style: italic; text-align: center; margin-top: 30px">{{ profileUsername }} n'a rien publié pour l'instant.</p>
</ion-content>